{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/staff-products-list.css' %}">
<ol class="breadcrumb" id="cat_breadcrumb" style="margin-bottom: 0px;{% if not subCat and not search_key  %}display:none;{% endif %}">
{% if subCat %}
    <li>{{subCat.parent.name}}</li>
    {% if search_key %}
        <li>
            {{subCat.name}} <a href="{% url 'product-list' %}?q={{search_key}}"><span class="glyphicon glyphicon-remove-circle"></span></a> : 
            results for "{{search_key}}" <a href="{{subCat.get_absolute_url}}"><span class="glyphicon glyphicon-remove-circle"></span></a>
        </li>
    {% else %}
        <li>{{subCat.name}}</li> <a href="{% url 'product-list' %}"><span class="glyphicon glyphicon-remove-circle"></span></a>
    {% endif %}
{% elif search_key %}
    <li>results for "{{search_key}}" <a href="{% url 'product-list' %}"></li> <span class="glyphicon glyphicon-remove-circle"></span></a>
{% endif %}
</ol>
<div class="container-fluid">
    <div class="row" style="margin-top:10px">
        <div class="col-xs-12 col-md-10">
            <div id="ajax_product_list">
            	{% include 'products/frontend/part_product_list.html' %}
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="search" id="id_search">
<input type="hidden" name="category" id="id_category">
<script type="text/javascript">
$(document).ready(function(){
    {% if subCat %}
        $('#id_category').val({{subCat.id}})
    {% endif %}
    {% if search_key %}
        $('#id_search').val('{{search_key}}')
    {% endif %}
});

function pagination(p){
    var dataString='';
    dataString+="page="+p;
    if($('#id_search').val()!='' && $('#id_search').val()!=null){
        dataString+="&q="+$('#id_search').val();
    }
    if($('#id_category').val()!='' && $('#id_category').val()!=null){
        dataString+="&c="+$('#id_category').val();
    }
    $.ajax({
        url: '{% url "ajax-product-list" %}',
        type: 'GET',
        dataType: 'json',
        data: dataString,
        success:function(data){
            $('#ajax_product_list').empty().append(data['html']);
        }
    });
}
</script>
{% endblock %}