{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/staff-products-list.css' %}">
<ol class="breadcrumb" id="cat_breadcrumb" style="display:none;">
</ol>
<div class="container-fluid">
    <div class="row" style="margin-top:10px">
        <div class="col-xs-12 col-md-10">
            <div id="ajax_product_list">
            	{% include 'products/frontend/part_product_list.html' %}
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="search" id="id_search">
<input type="hidden" name="category" id="id_category">
<script type="text/javascript">
$(document).ready(function(){

    $("#gb_search_button").click(function () {
        var e = $.Event('keyup');
        e.which = 13; // #13 = Enter key
        $("#id_search_product").focus();
        $("#id_search_product").trigger(e);
    });

    $('#id_search_product').keyup(function(event) {
        if (event.which == 13) {
            $('#id_search').val($('#id_search_product').val());
            var dataString='q='+$('#id_search_product').val();
            if($('#id_category').val()!='' && $('#id_category').val()!=null){
                dataString+="&c="+$('#id_category').val();
            }
            $.ajax({
                type: 'GET',
                dataType: 'json',
                data: dataString,
                url: '{% url "ajax-product-list" %}',
                success: function(data){
                    if(data.search_key != '' && data.search_key != null){
                        if(data.pcat_name != '' && data.scat_name != '' && data.pcat_name != null && data.scat_name != null){
                            htmlData = '<li>'+data.pcat_name+'</li>'+
                                        '<li>'+data.scat_name+':   results for "'+data.search_key+'"</li>'
                        }else{
                            htmlData = '<li>results for "'+data.search_key+'" </li>'
                        }
                        $('#cat_breadcrumb').empty().html(htmlData);
                        $('#cat_breadcrumb').show();
                    }else{
                        $('#cat_breadcrumb').empty().hide();
                    }
                    $('#ajax_product_list').empty().append(data['html']);
                }
            });
        }
    });
});

function filtercategory(cat_id){
    $('#id_search_product').val('');
    $('#id_search').val('');
    $('#id_category').val(cat_id);
    var dataString='c='+cat_id;
    $.ajax({
        type: 'GET',
        dataType: 'json',
        data: dataString,
        url: '{% url "ajax-product-list" %}',
        success: function(data){
            if(data.pcat_name != '' && data.scat_name != '' && data.pcat_name != null && data.scat_name != null){
                htmlData = '<li>'+data.pcat_name+'</li>'+'<li>'+data.scat_name+'</li>'
                $('#cat_breadcrumb').empty().html(htmlData);
                $('#cat_breadcrumb').show();
            }else{
                $('#cat_breadcrumb').empty().hide();
            }
            $('#ajax_product_list').empty().append(data['html']);
            //$('html, body').animate({scrollTop: $("#id_search_product").offset().top}, 1000);
            //$(window).scrollTop($('#id_search_product').offset().top);
        }
    });
}

function pagination(p){
    var dataString='';
    dataString+="page="+p;
    if($('#id_search').val()!='' && $('#id_search').val()!=null){
        dataString+="&q="+$('#id_search').val();
    }
    if($('#id_category').val()!='' && $('#id_category').val()!=null){
        dataString+="&c="+$('#id_category').val();
    }
    $.ajax({
        url: '{% url "ajax-product-list" %}',
        type: 'GET',
        dataType: 'json',
        data: dataString,
        success:function(data){
            $('#ajax_product_list').empty().append(data['html']);
        }
    });
}
</script>
{% endblock %}