{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="container">
	<div class="row">
		<p class='lead' style="display:inline-block;">Order {% if order.order_id %}#{{ order.order_id }}{% endif %} Summary</p>
		<a style="margin-left:15px;" class="btn btn-default" href="{% url 'add-to-cart' %}" role="button">Back to Cart</a>
		<table class="table table-striped table-hover" style="margin-bottom:0px;">
	    	<thead>
				<th>Product</th>
				<th></th>
				<th></th>
				<th></th>
				<th class='text-right'>Amount</th>
			</thead>
			<tbody id="ajax_contact_list">
				{% for citem in order.cart.cart_items %}
					<tr>
						<td>{{citem.item}}<br>
							qty: {{citem.quantity}} | {{citem.item.get_checkout_display_label}}
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td class='text-right'>{{ citem.line_item_total }}</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td class='text-right'>Cart Subtotal:</td>
					<td class='text-right'>{{ order.cart.subtotal }}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td class='text-right'>Tax:</td>
					<td class='text-right'>{{ order.cart.tax_total }}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td class='text-right'>Items Total:</td>
					<td class='text-right'>{{ order.cart.total }}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td class='text-right'>Shipping:</td>
					<td class='text-right'>{{ order.shipping_total_price }}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td class='text-right'>Order Total:</td>
					<td class='text-right'>{{ order.order_total }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr style="margin-top:0px;">
	<div class="row">
		<div class='col-md-6'>
			<p>
				<b>Billing to:</b><br/>
				{{ order.billing_address.get_address }}
			</p>
			<p>
				<b>Shipping to:</b><br/>
				{{ order.shipping_address.get_address }}
			</p>
			<p>
		 		<a href='{% url "order_address" %}'>Change Address</a>
		 	</p><br/>

		</div>
		
		{% include 'payments.html' %}

	</div>
</div>

{% else %}

	{% include 'users/part_signin.html' %}
	{% include 'users/part_signup.html' %}

{% endif %}

	
<script type="text/javascript">
function show_signup_form() {
	$('#id_signin_form').hide();
	$('#id_signup_form').show();
}
function show_signin_form() {
	$('#id_signup_form').hide();
	$('#id_signin_form').show();
}
</script>
{% endblock %}