{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}">
<script src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<div class="container">
	<div class="row">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{product.get_absolute_url}}">Product</a></li>
			<li role="presentation">
				<a href="{{product.get_variants_url}}">
					{% if not product.get_variant_count %}<span style="margin-bottom:2px;" data-original-title="No Variants added!" data-toggle="tooltip" class="badge">!</span> {% endif %}Variants
				</a>
			</li>
			<li role="presentation">
				<a href="{{product.get_stocks_url}}">
					{% if not product.get_stock_count %}<span style="margin-bottom:2px;" data-original-title="No Stocks added!" data-toggle="tooltip" class="badge">!</span> {% endif %}Stock
				</a>
			</li>
			<li role="presentation" class="active">
				<a href="{{product.get_images_url}}">
					{% if not product.get_image_count %}<span style="margin-bottom:2px;" data-original-title="No Images added!" data-toggle="tooltip" class="badge">!</span> {% endif %}Images
				</a>
			</li>
			<li style="margin-left:10px; !important">
				<input {% if product.status == 'A' %}checked{% endif %} name="status" id="status" type="checkbox">
			</li>
		</ul>
	</div>
	<a type="button" style="margin-top:10px;" id="id_variant_add" href="{% url 'staff-image-add' product.id %}" class="btn btn-default">Add Image</a>
	<div class="row" style="margin-top:20px;">
		{% for image in object_list %}
		    <div id="image_{{image.id}}" class="col-lg-3 col-md-4 col-xs-6 thumb">
		    	<div class="thumbnail">
			        <a href="{% url 'staff-image-update' product.id image.id %}">
			            <img class="img-responsive" src="{{image.image.url}}" alt="">
			        </a>
			        <div class="ratings" style="padding-bottom:10px;margin-top:5px;">
			        	{{image.variant|truncatechars:30}}
	                	<a href="{% url 'staff-image-update' product.id image.id %}" style="margin-left:5px;" class="pull-right btn btn-xs btn-info"><span class="glyphicon glyphicon-pencil"></span></a>
	                	<a onclick="delete_image({{image.id}})" href="javascript:void(0);" class="pull-right btn btn-xs btn-warning"><span class="glyphicon glyphicon-trash"></span></a>
	                </div>
		        </div>
		    </div>
		{% endfor %}
	</div>
</div>

<script type="text/javascript">
function enable_delete(){
	if($('input[name=variantdelete]:checked').length > 0){
		$('#id_variant_add').hide();
		$('#id_variant_delete').show();
	}else{
		$('#id_variant_add').show();
		$('#id_variant_delete').hide();
	}
}
function delete_image(id){
	var dataString='';
	dataString += 'csrfmiddlewaretoken={{csrf_token}}&image_id='+id;
	$.ajax({
        type: 'POST',
        dataType: 'json',
        data: dataString,
        url: '{% url "staff-image-delete" product.id %}',
        success: function(data){
        	if(data.status == 1){
        		$('#image_'+id).remove();
            }else{
                alert('oops! not able to process your request. Please try again later.')
            }
        }
    });
}


$(document).ready(function(){

	$("[name='status']").bootstrapSwitch({
		'onText': 'Active',
		'offText': 'InActive',
		'onColor': 'success',
		'onSwitchChange': function(event, state) {
			{% if product %}
				var dataString='csrfmiddlewaretoken={{csrf_token}}&product_id='+{{product.id}};
				if(state){
					dataString += '&status=A'
				}else{
					dataString += '&status=I'
				}
				$.ajax({
		            type: 'POST',
		            dataType: 'json',
		            data: dataString,
		            url: '{% url "product_status" %}',
		            success: function(data){
		            	if(data['status'] == 1){
		            		showFlashMessage('Status Updated');
		            	}else{
		            		alert('Oops not able process your request. Please try again later.')
		            	}
		            }
		        });
			{% endif %}
		}
	});

});    
</script>
{% endblock %}


