{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}">
<script src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<div class="container">
	<div class="row">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="{{product.get_absolute_url}}">Product</a></li>
			<li role="presentation">
				<a {% if product %}href="{{product.get_variants_url}}"{% endif %}>{% if not product.get_variant_count %}<span style="margin-bottom:2px;" data-original-title="No Variants added!" data-toggle="tooltip" class="badge">!</span> {% endif %}Variants</a>
			</li>
			<li role="presentation">
				<a {% if product %}href="{{product.get_stocks_url}}"{% endif %}>{% if not product.get_stock_count %}<span style="margin-bottom:2px;" data-original-title="No Stocks added!" data-toggle="tooltip" class="badge">!</span> {% endif %}Stock</a>
			</li>
			<li role="presentation">
				<a {% if product %}href="{{product.get_images_url}}"{% endif %}>{% if not product.get_image_count %}<span style="margin-bottom:2px;" data-original-title="No Images added!" data-toggle="tooltip" class="badge">!</span> {% endif %}Images</a>
			</li>
			<!-- <li style="margin-left:10px; !important">
				<h4>| {% if product %}{% if product.status == 'A' %} Status: Active{% else %} Status: InActive{% endif %}{% else %}Status: InActive{% endif %}</h4>
			</li> -->
			<li style="margin-left:10px; !important">
				<input {% if product %}{% if product.status == 'A' %}checked productId={{product.id}}{% endif %}{% endif %} name="status" id="status" type="checkbox">
			</li>
		</ul>
	</div>
	<div class="row" style="margin-top:15px;">
		<form method='post' name="product_form" class="form-horizontal">{% csrf_token %}

			<div class="form-group">
				<label for="id_title" class="col-md-2 control-label">Title <span style="color:red;">*</span></label>
				<div class="col-xs-4">
					{{form.title}}
					<p style="color:red;">{{ form.title.errors.as_text }}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="id_content" class="col-sm-2 control-label">Description <span style="color:red;">*</span></label>
				<div class="col-xs-6">
					{{form.description}}
					<p style="color:red;">{{ form.description.errors.as_text }}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="id_title" class="col-sm-2 control-label">Category <span style="color:red;">*</span></label>
				<div class="col-xs-3">
					<select id="id_parent_category" name="parent_category" class="form-control">
						<option></option>
			            {% for cat in parent_cats %}
			                <option {% if cat.id == selected_parent_cat.id %}selected{% endif %} 
			                	value="{{cat.id}}">{{cat.name}}
			                </option>
			            {% endfor %}
			        </select>
			    	<p style="color:red;">{{ form.type.errors.as_text }}</p>
				</div>
			</div>
			<div id="id_sub_cats">
				{% if product %}
					<div class="form-group">
						<label for="id_title" class="col-sm-2 control-label">Sub Category</label>
						<div class="col-xs-3">
							<select multiple id="id_category" name="category" class="form-control">
					            {% for scat in sub_cats %}
					                <option {% if scat in product.categories.all  %}selected{% endif %} value="{{scat.id}}">{{scat.name}}</option>
					            {% endfor %}
					        </select>
					    	<p style="color:red;">{{ form.type.errors.as_text }}</p>
						</div>
					</div>
				{% endif %}
			</div>

			<div class="form-group">
				<label for="id_title" class="col-sm-2 control-label">Attributes</label>
				<div class="col-xs-3">
					{{form.attributes}}
			    	<p style="color:red;">{{ form.attributes.errors.as_text }}</p>
				</div>
			</div>

			<div class="form-group">
				<label for="id_content" class="col-sm-2 control-label">Price <span style="color:red;">*</span></label>
				<div class="col-xs-2">
					{{form.price}}
					<p style="color:red;">{{ form.price.errors.as_text }}</p>
				</div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-2 col-xs-4">
			    	<button type="submit" name="submit" value="I" class="btn btn-default">
			    		{% if product %}
			    			Save
			    		{% else %}
			    			Save and Add Variant
			    		{% endif %}
			    	</button>
			    	<a class="btn btn-default" href="{% url 'staff-product-list' %}" role="button">Cancel</a>
			    </div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">

$(document).ready(function(){

	$("[name='status']").bootstrapSwitch({
		'onText': 'Active',
		'offText': 'InActive',
		'onColor': 'success',
		'onSwitchChange': function(event, state) {
			console.log(this.productId);
			{% if product %}
				var dataString='product_id='+this.product-id;
				if(status){
					dataString += '&status=A'
				}else{
					dataString += '&status=I'
				}
				$.ajax({
		            type: 'POST',
		            dataType: 'json',
		            data: dataString,
		            url: '{% url "product_status" %}',
		            success: function(data){
		            	if(data['status'] == 1){
		            	}else{
		            	}
		            }
		        });
			{% endif %}
		}
	});

	$("form[name='product_form']").validate({
	    rules: {
	    	title: "required",
	    	description: "required",
	    	parent_category: "required",
	    	category: "required",
	    	price: {
	    		required: true,
	    		number: true
	    	}
	    },
	    messages: {
	    	title: "Please enter the title",
	    	description: "Please enter the description",
	    	parent_category: "Please select a parent category",
	    	category: "Please select a Sub category",
	    	price: {
	    		required:"Please select a price",
	    		number:"Please enter a number"
	    	}
	   	},
	    submitHandler: function(form) {
	    	form.submit();
	    }
	});

	$('#id_category').multiselect({
		includeSelectAllOption: true,
		enableFiltering: true
	});
	$('#id_attributes').multiselect({
		includeSelectAllOption: true,
		enableFiltering: true
	});

    $('#id_parent_category').change(function() {
    	var parentcat = $('#id_parent_category option:selected').val();
        var dataString='';
        dataString += 'csrfmiddlewaretoken={{csrf_token}}&pid='+parentcat;
        {% if product %}
        	dataString += '&product_id='+{{product.id}}
        {% endif %}
        $.ajax({
            type: 'POST',
            dataType: 'json',
            data: dataString,
            url: '{% url "staff-ajax-load-prod-subcats" %}',
            success: function(data){
            	if(data['status'] == 1){
            		$('#id_sub_cats').empty().append(data['html']);
            		$('#id_category').multiselect({
						includeSelectAllOption: true,
						enableFiltering: true
					});
            	}else{
            		$('#id_sub_cats').empty()
            	}
            }
        });
    });

    // $('#id_sub_cats').on('change','#id_category',function() {
    // 	var sub_cat_ids = $('#id_category').val();
    //     var dataString='';
    //     dataString += 'csrfmiddlewaretoken={{csrf_token}}&sub_cat_ids='+sub_cat_ids;
    //     {% if product %}
    //     	dataString += '&product_id='+{{product.id}}
    //     {% endif %}
    //     $.ajax({
    //         type: 'POST',
    //         dataType: 'json',
    //         data: dataString,
    //         url: '{#% url "staff-ajax-load-prod-attributes" %#}',
    //         success: function(data){
    //         	if(data['status'] == 1){
    //         		$('#id_attrs').empty().append(data['html']);
    //         		$('#id_attributes').multiselect({
				// 		includeSelectAllOption: true,
				// 		enableFiltering: true
				// 	});
    //         	}else{
    //         		$('#id_attrs').empty()
    //         	}
    //         }
    //     });
    // });

    // $(function() {
	// });


	    // messages: {
	    // 	firstname: "Please enter your firstname",
	    // 	lastname: "Please enter your lastname",
	    // 	password: {
	    // 		required: "Please provide a password",
	    // 		minlength: "Your password must be at least 5 characters long"
	    // 	},
	    // 	email: "Please enter a valid email address"
	   	// },

});    
</script>
{% endblock %}