{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% load product_tags %}
<link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}">
<script src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<div class="container">
	<div class="row">
		{% if product %}
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{product.get_absolute_url}}">Product</a></li>
			<li role="presentation" class="active">
				<a href="{{product.get_variants_url}}">
					{% if not product.get_variant_count %}<span style="margin-bottom:2px;" data-original-title="No Variants added!" data-toggle="tooltip" class="badge">!</span> {% endif %}Variants
				</a>
			</li>
			<li role="presentation">
				<a href="{{product.get_stocks_url}}">
					{% if not product.get_stock_count %}<span style="margin-bottom:2px;" data-original-title="No Stocks added!" data-toggle="tooltip" class="badge">!</span> {% endif %}Stock
				</a>
			</li>
			<li role="presentation">
				<a href="{{product.get_images_url}}">
					{% if not product.get_image_count %}<span style="margin-bottom:2px;" data-original-title="No Images added!" data-toggle="tooltip" class="badge">!</span> {% endif %}Images
				</a>
			</li>
			<li style="margin-left:10px; !important">
				<input {% if product.status == 'A' %}checked{% endif %} name="status" id="status" type="checkbox">
			</li>
		</ul>
		{% endif %}
	</div>
	<div class="row" style="margin-top:15px;">
		<form method='post' name="variant_form" class="form-horizontal">{% csrf_token %}

			<div class="form-group">
				<label for="id_title" class="col-md-2 control-label">SKU <span data-original-title="Stock Keeping Unit" data-toggle="tooltip" class="glyphicon glyphicon-question-sign"></span><span style="color:red;">*</span></label>
				<div class="col-xs-4">
					{{form.sku}}
					<p style="color:red;">{{ form.sku.errors.as_text }}</p>
				</div>
				<div style="margin-top:7px;">
					<a target='_blank' href='https://en.wikipedia.org/wiki/Stock_keeping_unit'>Learn more <span class='glyphicon glyphicon-new-window'></span></a>
				</div>
			</div>
			<div class="form-group">
				<label for="id_content" class="col-md-2 control-label">Variant Name <span style="color:red;">*</span></label>
				<div class="col-xs-4">
					{{form.name}}
					<p style="color:red;">{{ form.name.errors.as_text }}</p>
				</div>
			</div>
			{% for attr in product.attributes.all %}
				<div class="form-group">
					<label for="id_content" class="col-md-2 control-label">{{attr.name}}</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" name="{{attr.id}}" value="{{object|get_attr_val:attr.id}}"></input>
					</div>
				</div>
			{% endfor %}

			<div class="form-group">
				<label for="id_content" class="col-md-2 control-label">Price Override <span data-original-title="This price will override the product price for this variant" data-toggle="tooltip" class="glyphicon glyphicon-question-sign"></span></label>
				<div class="col-xs-4">
					{{form.price}}
					<p style="color:red;">{{ form.price.errors.as_text }}</p>
				</div>
			</div>

			<div class="form-group">
				<label for="id_content" class="col-md-2 control-label">Deafult Selected <span data-original-title="This variant will be selected by default in the product page." data-toggle="tooltip" class="glyphicon glyphicon-question-sign"></span></label>
				<div class="col-xs-4">
					{{form.default}}
				</div>
			</div>

			<div class="form-group">
			    <div class="col-sm-offset-2 col-xs-3">
			      <button type="submit" name="submit" value="I" class="btn btn-default">Save</button>
			      <a class="btn btn-default" href="{% url 'staff-variant-list' product.id %}" role="button">Cancel</a>
			    </div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){

	$("[name='status']").bootstrapSwitch({
		'onText': 'Active',
		'offText': 'InActive',
		'onColor': 'success',
		'onSwitchChange': function(event, state) {
			{% if product %}
				var dataString='csrfmiddlewaretoken={{csrf_token}}&product_id='+{{product.id}};
				if(state){
					dataString += '&status=A'
				}else{
					dataString += '&status=I'
				}
				$.ajax({
		            type: 'POST',
		            dataType: 'json',
		            data: dataString,
		            url: '{% url "product_status" %}',
		            success: function(data){
		            	if(data['status'] == 1){
		            		showFlashMessage('Status Updated');
		            	}else{
		            		alert('Oops not able process your request. Please try again later.')
		            	}
		            }
		        });
			{% endif %}
		}
	});

	$("form[name='variant_form']").validate({
	    rules: {
	    	sku: "required",
	    	name: "required",
	    	price: {
	    		required: true,
	    		number: true
	    	}
	    },
	    messages: {
	    	sku: "Please enter the SKU(Stock Keeping Unit)",
	    	name: "Please enter the variant name",
	    	price: {
	    		required:"Please select a price",
	    		number:"Please enter a number"
	    	}
	   	},
	    submitHandler: function(form) {
	    	form.submit();
	    }
	});
});    
</script>
{% endblock %}