{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <div class="container-fluid">
        <div class="row">
            {% if user.is_admin %}
                <div class="col-lg-12">
                    <h1 style="margin-top:10px; !important" class="page-header">
                        Revenue Stats
                    </h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <select id="stack_rev_duration" class="resetSelect form-control" style="width:160px;margin-left:25px;">
                        <option value="this_week">This week</option>
                        <option value="last_week">Last week</option>
                        <option value="this_month">This month</option>
                        <option value="last_month">Last month</option>
                        <option selected value="this_quarter">This quarter</option>
                        <option value="last_quarter">Last quarter</option>
                        <option value="this_year">This Year</option>
                        <option value="last_year">Last Year</option>
                    </select>
                    <div id="container1"></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">            
                    <select id="pie_rev_duration" class="resetSelect form-control" style="width:160px;margin-left:25px;">
                        <option value="this_week">This week</option>
                        <option value="last_week">Last week</option>
                        <option value="this_month">This month</option>
                        <option value="last_month">Last month</option>
                        <option selected value="this_quarter">This quarter</option>
                        <option value="last_quarter">Last quarter</option>
                        <option value="this_year">This Year</option>
                        <option value="last_year">Last Year</option>
                    </select>
                    <div id="container2"></div>
                </div>
            {% endif %}

            <div class="col-lg-12">
                <h1 style="margin-top:10px; !important" class="page-header">
                    Product Stats
                </h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">            
                <select id="stack_pro_duration" class="resetSelect form-control" style="width:160px;margin-left:25px;">
                    <option value="this_week">This week</option>
                    <option value="last_week">Last week</option>
                    <option value="this_month">This month</option>
                    <option value="last_month">Last month</option>
                    <option selected value="this_quarter">This quarter</option>
                    <option value="last_quarter">Last quarter</option>
                    <option value="this_year">This Year</option>
                    <option value="last_year">Last Year</option>
                </select>
                <div id="container3"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <select id="pie_pro_duration" class="resetSelect form-control" style="width:160px;margin-left:25px;">
                    <option value="this_week">This week</option>
                    <option value="last_week">Last week</option>
                    <option value="this_month">This month</option>
                    <option value="last_month">Last month</option>
                    <option selected value="this_quarter">This quarter</option>
                    <option value="last_quarter">Last quarter</option>
                    <option value="this_year">This Year</option>
                    <option value="last_year">Last Year</option>
                </select>            
                <div id="container4"></div>
            </div>
        </div> 
    </div>
<script src="{% static 'js/stats.js' %}"></script>
<script type="text/javascript">
$(function () {

     $('.resetSelect').prop('selectedIndex',4);

    {% if user.is_admin %}
        get_revenue_stats('both','');
        $('#stack_rev_duration').change(function() {
            var dataString='duration='+$('#stack_rev_duration option:selected').val();
            dataString += '&chart_type=stack'
            get_revenue_stats('stack', dataString);
        });
        $('#pie_rev_duration').change(function() {
            var dataString='duration='+$('#pie_rev_duration option:selected').val();
            dataString += '&chart_type=pie'
            get_revenue_stats('pie', dataString);
        });
    {% endif %}

    get_product_stats('both','');
    $('#stack_pro_duration').change(function() {
        var dataString='duration='+$('#stack_pro_duration option:selected').val();
        dataString += '&chart_type=stack'
        get_product_stats('stack', dataString);
    });
    $('#pie_pro_duration').change(function() {
        var dataString='duration='+$('#pie_pro_duration option:selected').val();
        dataString += '&chart_type=pie'
        get_product_stats('pie', dataString);
    });

});

function get_revenue_stats(chart_type, dataString){
    $.ajax({
        type: 'GET',
        dataType: 'json',
        data: dataString,
        url: "{% url 'revenue-stats' %}",
        success: function(data){
            if (chart_type == 'both'){
                create_order_stackchart('container1', data.stack.categories, data.stack.series);
                create_orders_piechart('container2', data.pie.series);
            }else if (chart_type == 'stack'){
                create_order_stackchart('container1', data.stack.categories, data.stack.series);
            }else{
                create_orders_piechart('container2', data.pie.series);
            }
        }
    });
}

function get_product_stats(chart_type, dataString){
    $.ajax({
        type: 'GET',
        dataType: 'json',
        data: dataString,
        url: "{% url 'product-stats2' %}",
        success: function(data){
            if (chart_type == 'both'){
                create_product_stackchart('container3', data.stack.categories, data.stack.series);
                create_product_piechart('container4', data.pie.series);
            }else if (chart_type == 'stack'){
                create_product_stackchart('container3', data.stack.categories, data.stack.series);
            }else{
                create_product_piechart('container4', data.pie.series);
            }
        }
    });
}

</script>

{% endblock %}