{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="display:inline-block;">Process Orders</h3>
                <label style="margin-left:30px;">Filter By:</label>
                <select id="filter_type" style="margin-left:20px;">
                    <option value="paid">Paid</option>
                    <option value="approved">Approved</option>
                    <option value="-approved">Not Approved</option>
                    <option value="processed">Processed</option>
                    <option value="-processed">Not Processed</option>
                    <option value="shipped">Shipped</option>
                    <option value="-shipped">Not Shipped</option>
                    <option value="delivered">Delivered</option>
                    <option value="-delivered">Not Delivered</option>
                    <option value="returned">Returned</option>
                </select>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Approved</th>
                                <th>Processed</th>
                                <th>Shipped</th>
                                <th>Delivered</th>
                                <th>Price</th>
                                <th>Returned</th>
                            </tr>
                        </thead>
                        <tbody id="ajax_process_orders">
                            {% include 'users/staff/part_process_orders.html' %}
                        </tbody>
                    </table>
                    <div id="paginate_html">
                        {% include 'users/staff/part_pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="filter" id="id_filter">
<script type="text/javascript">
$(document).ready(function(){
    $("#ajax_process_orders").on('change', '.order-status', function(){
        ajax_process_orders
        var is_delete = true;
        var name = $(this).attr('name');
        var order_id = $(this).attr('data-id');
        var is_checked = $(this).is(":checked");
        if(name == 'delivered' && is_checked){
            is_delete = confirm("Mark this order as delivered?");
        }
        if(is_delete){
            var dataString = 'action='+is_checked;
            dataString += '&order_id='+order_id;
            dataString += '&name='+name;
            $.ajax({
                type: "GET",
                url: "{% url 'process-order' %}",
                data: dataString,
                success: function(data) {
                    if(name == 'delivered' && is_checked){
                        $('#order_'+order_id).fadeOut();
                    }
                    showFlashMessage('Successfully Updated.');
                }
            });
        }else{
            $(this).removeAttr('checked');
        }
    });

    $('#filter_type').change(function() {
        $('#id_filter').val($('#filter_type option:selected').val());
        var dataString = 'filter='+$('#filter_type option:selected').val();
        $.ajax({
            url: '{% url "process-order" %}',
            type: 'GET',
            dataType: 'json',
            data: dataString,
            success:function(data){
                $('#ajax_process_orders').empty().append(data['html']);
                $('#paginate_html').empty().append(data['paginatehtml']);
            },
            error:function(data){
                console.log(data.error)
            }
        });
    });    
});

function pagination(p){
    var dataString='';
    dataString+="page="+p;
    if($('#id_filter').val()!='' && $('#id_filter').val()!=null){
        dataString+="&filter="+$('#id_filter').val();
    }
    $.ajax({
        url: '{% url "process-order" %}',
        type: 'GET',
        dataType: 'json',
        data: dataString,
        success:function(data){
            $('#ajax_process_orders').empty().append(data['html']);
            $('#paginate_html').empty().append(data['paginatehtml']);
        },
        error:function(data){
            console.log(data.error)
        }
    });
}

</script>

{% endblock %}








