{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<div class="container-fluid">
	<h3 style="margin-left:75px;margin-bottom:15px;"><strong>{% if catalog_obj %}Edit{% else %}Add{% endif %} Attribute:</strong></h3>

	<form method='post' name="attribute_form" class="form-horizontal">{% csrf_token %}
		<div class="form-group">
			<label for="id_title" class="col-sm-2 control-label">Name</label>
			<div class="col-xs-4">
				{{form.name}}
				<p style="color:red;">{{ form.name.errors.as_text }}</p>
			</div>
		</div>
		<div class="form-group">
			<label for="id_title" class="col-sm-2 control-label">Internal(slug)</label>
			<div class="col-xs-4">
				{{form.slug}}
				<p style="color:red;">{{ form.slug.errors.as_text }}</p>
			</div>
		</div>
		<!-- <div class="form-group">
			<label for="id_title" class="col-sm-2 control-label">Attribute Values</label>
			<div class="col-xs-4">
				<button type="button" id="id_attr_value_add" name="add_attr_val" class="btn btn-default">Add Attributes Value</button>
			</div>
		</div>
		<div id="id_attr_values">
			{% if attribute_obj %}
				{% for attr_val in attribute_obj.values.all %}
				<div class="form-group">
					<div class="col-sm-offset-2 col-xs-4">
						<input type="text" name="{{attr_val.attribute.id}}" value="{{attr_val.attribute_value}}" class="form-control" autocomplete="off">
					</div>
				</div>
				{% endfor %}
			{% endif %}
		</div> -->
		<div class="form-group">
		    <div class="col-sm-offset-2 col-xs-3">
		      <button type="submit" name="submit" value="P" class="btn btn-default">Submit</button>
		      <a class="btn btn-default" href="{% url 'staff-attribute-list' %}" role="button">Cancel</a>
		    </div>
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function(){

	$("form[name='attribute_form']").validate({
	    rules: {
	    	name: "required",
	    	slug: "required"
	    },
	    messages: {
	    	name: "Please enter the name",
	    	slug: "Please enter the slug"
	   	},
	    submitHandler: function(form) {
	    	form.submit();
	    }
	});

    $('#id_attr_value_add').click(function() {
    	var add_attr_val = '';
    	add_attr_val += '<div class="form-group">'
		add_attr_val += '<div class="col-sm-offset-2 col-xs-4">'
		add_attr_val += '<input type="text" name="attr_vals" class="form-control" autocomplete="off">'
		add_attr_val += '</div>'
		add_attr_val += '</div>'
		$('#id_attr_values').append(add_attr_val);
    });
});    
</script>
{% endblock %}










