{% extends "base.html" %}

{% block content %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="margin-top:10px; !important" class="page-header">
                    Dashboard
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">            
                <div id="container" xstyle="width: 600px; height: 400px; margin: 0 auto; float:left;"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">            
                <div id="container2" xstyle="width: 600px; height: 400px; margin: 0 auto; float:left;"></div>
            </div>

            <!-- <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{product_count}}</div>
                                <div>Products</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{order_count}}</div>
                                <div>Orders</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div> -->
        </div> 
    </div>
<script type="text/javascript">
$(function () {
    var dataString = '';
    $.ajax({
        type: 'GET',
        dataType: 'json',
        data: dataString,
        url: "{% url 'products-stats' %}",
        success: function(data){
            create_chart('container', data.categories, data.series);
            // create_chart('container2', data.categories, data.series);
        }
    });
});

function create_chart(chart_id, categories, series){

    $('#'+chart_id).highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Products added & Orders placed'
        },
        xAxis: {
            allowDecimals: false,
            categories: categories
        },
        yAxis: {
            title: {
                text: 'Product added & Order placed'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        plotOptions: {
            area: {
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: series
    });

}

</script>

{% endblock %}