{% extends "base.html" %}

{% block content %}

    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Reset Password</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px">
                    </div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <form id="loginform"  method="POST" class="form-horizontal" role="form">{% csrf_token %}
                        <div id="login-alert" class="alert alert-danger" style="{% if not data.msg %}display:none;{% endif %}">
                            {{data.msg}}
                        </div>
                        {% if not data.msg %}
                        <div style="margin-bottom: 25px;width:508px;" class="input-group">
                            <input id="id_pass1" onkeyup="check_password();" type="password" class="form-control" name="password1" value="" placeholder="New Password">
                        </div>
                        <div style="margin-bottom: 25px;width:508px;" class="input-group">
                            <input id="id_pass2" onkeyup="check_password();" type="password" class="form-control" name="password2" value="" placeholder="Confirm Password">
                            <p id="id_no_match" style="color:red;display:none;">passwords do not match</p>
                        </div>
                        <div style="margin-top:10px" class="form-group">
                            <div class="col-sm-12 controls">
                                <button onclick="reset_password()" disabled="disabled" id="sub_button" class="btn btn-success" type="button">Submit</button>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
function check_password() {
    if($('#id_pass1').val() && $('#id_pass2').val()){
        if($('#id_pass1').val() != $('#id_pass2').val()){
            $('#id_no_match').show();
            $('#sub_button').attr('disabled','disabled');
        }else{
            $('#id_no_match').hide();
            $('#sub_button').removeAttr('disabled','disabled');
        }
    }
}
function reset_password(){
    $.ajax({
        type: 'POST',
        dataType: 'json',
        data: 'csrfmiddlewaretoken={{csrf_token}}&pass1='+$('#id_pass1').val()+'&pass2='+$('#id_pass2').val()+'&uuid={{data.uuid}}',
        url: '{% url "rest_password" %}',
        success: function(data){
            if(data['msg'] == 'Password Reset Successful!'){
                $('.alert').addClass('alert-success');
            }else{
                $('.alert').addClass('alert-danger');
            }
            $('.alert').html('<p>'+data['msg']+'</p>');
            $('.alert').show();
            setTimeout(function(){
                $('.alert').fadeOut();
            }, 1000);
            setTimeout(function(){
                window.location='http://127.0.0.1:8000/login';
            }, 2000);
        }
    });
}
</script>
{% endblock %}